{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-array-from",
    "transform-class-properties",
    "transform-es2015-spread",
    "transform-object-rest-spread",
    "transform-decorators-legacy"
  ]
}
